@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
}
body {
  background: url("assets/bg.jpg");
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root,
[data-bs-theme="light"] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif:
    system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace:
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}
/* Variables */
.regular {
  font-weight: 400;
}

.main-container {
  width: 410px;
  height: 596px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.15),
    rgb(255, 255, 255, 0.15)
  );
  border-radius: 12px;
  backdrop-filter: blur(100px);
  padding: 20px;
  margin: 50px 0 50px;
}
/* Input */
.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-city {
  width: 100%;
  padding: 10px 16px;
  border-radius: 99px;
  border: 3px solid transparent;
  background: rgb(0, 0, 0, 0.15);
  outline: none;
  font-weight: 500;
  transition: 0.25s border;
  padding-right: 45px;
}
.input-city:hover {
  border: 3px solid rgb(0, 0, 0, 0.15);
}
.input-city::placeholder {
  color: rgb(255, 255, 255, 0.75);
}
.search-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  display: flex;
  border: none;
  cursor: pointer;
}
.search-btn i {
  font-size: 24px;
}

/* Weather info */
.weather-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.location i {
  font-size: 18px;
}
.location-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-summary-img {
  width: 210px;
  height: 120px;
}
.weather-summary-info {
  text-align: end;
}

.weather-conditions-container {
  display: flex;
  justify-content: space-between;
}
.condition-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.condition-item i {
  font-size: 24px;
}

.forecast-items-container {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  padding-bottom: 12px;
}
.forecast-items-container::-webkit-scrollbar {
  height: 8px;
}
.forecast-items-container::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 99px;
}
.forecast-items-container::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.15);
  border-radius: 99px;
}

.forecast-item {
  min-width: 70px;
  background: rgb(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  align-items: center;
  border-radius: 12px;
  transition: 0.3s background;
}
.forecast-item:hover {
  background: rgb(255, 255, 255, 0.15);
}
.forecast-item-img {
  width: 35px;
  height: 35px;
}

/* Message */
.section-message img {
  height: 180px;
  width: fit-content;
}
.section-message {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 25%;
}
/* Menu button */
.menu-btn {
  position: absolute;
  right: -500px;
  top: -40%;
  transform: translateY(-50%);
  background: rgba(114, 105, 105, 0.15);
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 5px;
  backdrop-filter: blur(10px);
  transition: background 0.25s;
}

.menu-btn:hover {
  background: rgb(255, 255, 255, 0.25);
}

.menu-btn span {
  display: block;
  width: 16px;
  height: 2px;
  background: white;
  border-radius: 99px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.menu-btn.active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.menu-btn.active span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}
.menu-btn.active span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Dropdown */
.dropdown-menu {
  position: absolute;
  top: calc(100% + 4px);
  right: -500px;
  width: 160px;
  background: rgba(20, 20, 40, 0.75);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: 100;

  /* Ẩn mặc định */
  opacity: 0;
  transform: translateY(-8px) scale(0.96);
  pointer-events: none;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  transform-origin: top right;
}

.dropdown-menu.open {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: all;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 9px 12px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.2s;
  color: white;
}

.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.12);
}

.dropdown-item i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.dropdown-item span {
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}
/* Menu button */

/* Lab thuc hanh */
.container {
  width: 1200px; /* Thu nhỏ chiều ngang */
  margin: auto; /* Căn giữa */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */
.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  min-height: 220px;

  display: flex;
  flex-direction: column;
}

/* TIÊU ĐỀ */
.card h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

/* DANH SÁCH LAB */
.lab-list {
  margin-bottom: 20px;
}

.lab-list a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 300;
}

.lab-list a:hover {
  color: #20c05c;
}

/* BUTTON */
.btn {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #20c05c;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-top: auto;
}

.btn:hover {
  background-color: #0f7135;
}

/* Responsive */
@media (max-width: 1250px) {
  .container {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
}
/* footer */
footer {
  margin-bottom: 50px;
}
.footer-wrap {
  display: flex;
  align-items: center;
  gap: 400px;
}
.footer-left {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  flex-direction: column;
}
.footer-right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}
.footer-mb {
  margin-bottom: 10px;
}
.footer-line {
  width: 100%;
  height: 1px;
  border: solid 1px #fff;
  display: flex;
  margin: 0 auto;
}
.footer-info p {
  margin-top: 20px;
  text-align: center;
}
